export(polyclip,polyoffset,polylineoffset,polysimplify,polyminkowski,pointinpolygon)
useDynLib(polyclip,
          "Cclipbool","Cpolyoffset","Clineoffset","Csimplify",
          "Cminksum","Cpiptest")
